{{!-- <form action="/edit-cuadrilla/{{._id}}" method="POST">
    <labell for="cuadrilla">Seleccione cuadrilla</labell>
    <input type="text" name="cuadrilla" value="{{cuadrilla.cuadrilla}}" placeholder="cuadrilla">
    <button>Guardar</button>
</form> --}}