<form action="/sitios/add" method="POST">
    <labell for="cuadrilla">Ingrese sitio</labell>
    <input type="text" name="sitio" value="{{sitio.sitio}}" placeholder="sitio">
    <button>Guardar</button>
</form>